
  
body{
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Next", serif;
  background-color: #FFFFEA;
}

a{
  text-decoration: underline;
  color:whitesmoke;
}
a:hover{
  color:blue;
}
a:active {
  color: red;
}
a:visited{
  color: purple;
}
.fotoKryesore{
    width:100%;
    height: 100%;
  }

.videoKryesore{
  width: 100%;
}
body{
  background-color: rgba(34, 37, 40, 1);
}
