body{
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Next", serif;
  background-color: #F0F6F6;
}

#kontaktiText{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  text-align: center;
}

#nameEmail{
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

#nameDiv, #emailDiv{
  display: block;
  gap: 5%;
  width: 48%;
  }

.customer-support {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;  
  width: 50%;
}
.contact-form {
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.contact-form label{
  display: block;
}
.contact-form input, .contact-form textarea, #nameDiv input, #emailDiv input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.contact-form input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: larger;
}

.faq-section{
  display: block;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

#horizontalLine{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  width: 50%; 
  margin-left: auto; 
  margin-right: auto;
}

#questionExtendAnswer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  cursor: pointer;

}

#question{
  text-align: start;
  width: 50%;
  font-size: 1.51rem;
  margin-left: auto;
  margin-right: auto;
}

#extendAnswer{
  margin-right: auto;
  
}

#answer{
  visibility: hidden;
}